@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/ibm-plex-mono";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-ibmplexmono: "IBM Plex Mono", monospace;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --color-background: #f8fafc;
  --color-background-dark: #0f172a;
  --color-text: #0f172a;
  --color-text-dark: #e2e8f0;
  --color-primary: #0ea5e9;
  --color-secondary: #475569;
  --color-accent: #ca8a04;
  --color-accent-hover: #a16207;
}

:root {
  --color-text: var(--color-text);
  --color-background: var(--color-background);
}

.dark {
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
}

.light {
  --color-text: var(--color-text);
  --color-background: var(--color-background);
}

body {
  @apply bg-background text-text;
}
